/* App.css */
.output-area {
  background-color: #2c2f33;
  color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
}

.chord-progression-container {
  background-color: #23272a;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chord-progression {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  white-space: pre-wrap;
  cursor: pointer;
}

.chord {
  background-color: #3a3f44;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}

.chord:hover {
  background-color: #4b5056;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-button {
  background-color: #3a3f44;
  border: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.control-button:hover {
  background-color: #4b5056;
}

.instrument-select {
  background-color: #23272a;
  border: none;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  outline: none;
}

.instrument-select:focus {
  outline: none;
}

/* src/App.css */
/* Add these styles to the existing App.css content */

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.input-label {
  margin-bottom: 10px;
  font-size: 20px;
  color: #ffffff;
}

.text-input,
.dropdown-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 40px;
  font-size: 18px;
  background-color: #444;
  border: 1px solid #666;
  color: #fff;
}

.input-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.control-group {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex-grow: 1;
  margin: 0 0px;
  width: 100%;
}
.slider-input {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  margin-bottom: 20px;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #4b5056;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: -6px;
}

.slider-input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #4b5056;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slider-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #3a3f44;
  border-radius: 2px;
}

.slider-input::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #3a3f44;
  border-radius: 2px;
}

.generate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #4b5056;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.generate-btn:hover {
  background-color: #3a3f44;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.generate-btn svg {
  margin-left: 5px;
}

.user-prompt-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.text-input.user-prompt-input {
  font-size: 28px;
  padding: 15px;
  padding-right: 50px; /* Add extra padding to the right to make room for the dice icon */
  margin-bottom: 0px;
  width: calc(100% - 2px); /* Adjust the width to account for border */
  box-sizing: border-box; /* Add box-sizing to include padding and border in the width */
}

.dice-icon {
  position: absolute;
  right: 20px;
  top: calc(50% - 22px); /* Updated to use calc() */
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.app-name {
  /* font-family: "Roboto Mono", monospace; */
  font-size: 2.5rem;
  text-align: center;
  color: #d3d8dd;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
  margin: 1rem 0;
}

.disabled-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  /* cursor: not-allowed; */
  z-index: 1;
}

.input-grid {
  display: grid;
  /* grid-template-columns: repeat(2, 1); */
  /* grid-template-rows: repeat(1, 1fr); */
  gap: 15px;
  width: 90%;
  margin: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.input-grid-open {
  max-height: 1000px;
}

.show-settings-btn {
  background-color: #2c2c2c;
  border: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.show-settings-btn:hover {
  background-color: #4b5056;
}
